[submodule "Ceras"]
	path = Ceras
	url = https://github.com/rikimaru0345/Ceras.git
	branch = master
[submodule "AssetStoreAssets"]
	path = AssetStoreAssets
	url = https://github.com/creeperlv/Site-13-V2-AssetStoreAssets.git
